@import "tailwindcss";

@theme{
    --color-primary: #0b0f19;
    --color-secondary: #e2e8f0;
    --color-accent: #0ea5e9;
    --color-card: #111827;
    --color-card-hover: #1f2937;
    --color-border: #374151;
}

/* transparent scroll track class called hide-scroll-track */
.hide-scroll-track::-webkit-scrollbar {
    width: 6px; 
}

.hide-scroll-track::-webkit-scrollbar-track {
    background: transparent; 
}

.hide-scroll-track::-webkit-scrollbar-thumb {
    background-color: #374151; 
    border-radius: 10px; 
}

.hide-scroll-track::-webkit-scrollbar-thumb:hover {
    background-color: #0ea5e9; 
}

.swal2-container {
    z-index: 999999 !important;
}

